<div class="container">
  <div class="user-details">
    <h3> About me </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/me.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> About Me </h5>
      <p> If I'm not riding my bike around Melbourne then hopefully I'm overseas walking through towns I've never been to before and trying not to butcher the language. If I've got some downtime I'm trying to read the back log of books that I have.... faster than I am buying them. </p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/thegrads.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Who am I working with? </h5>
      <p>We are the 4.0 grads of <a href="https://www.rea-group.com">REA</a> more commonly know as <a href="https://www.realestate.com.au/">realestate.com.au</a>. We are scattered throughout REA with the aim to soak the most amount of knowledge possible. </p>
      <p>Data Science, Business Analysts, UX/Design and Developers are all the flavours that we come in.</p>
    </div>
  </div>
</div>
